body {
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}


.container {
    margin: 150px auto;
    border: 1px solid #000;
    width: 18%;
    padding: 15px;
    box-shadow: 10px 10px 20px rgb(46, 45, 45);
    border-radius: 10px;
}

form {
    display: block;
}

.btn {
    box-shadow: 10px 10px 20px rgb(45, 45, 173);
}

